@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.hero-row{
  height: 100px;
  margin: 10px 30px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes shrinkAnimation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.container {
  display: flex;
}

.decreasing-div {
  overflow: hidden;
  position: relative;
}

.decreasing-div img {
  display: block;
  width: 200%; /* Double the width of the image */
  transform-origin: right;
  animation: shrinkAnimation 3s infinite alternate;
}

.filler {
  flex: 1; /* Make the filler element take up available space */
}

@keyframes takeupAnimation {
  0% {
    margin: 0;
  }
  50% {
    margin-left: -100px;
  }
  100% {
    margin: 0;
  }
}


.increasing-width{
  z-index: 100;
  background-color: rgb(255, 244, 223);
  display: flex;
  animation: takeupAnimation 3s infinite alternate;
}